# AdminLTE 3 plugins and files
WebContent/static/plugins/* linguist-vendored
WebContent/static/dist/* linguist-vendored

# Base64 images in sql insert statements
#sql/populate-tables.sql linguist-generated
