/* Aligns the font-awesome icon in the middle of the column */
table td.icon_table_item {
  vertical-align: middle;
  text-align: center;
}

.truncate-text {
  max-width:50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}